@media only screen and (max-width: 600px) {


.grid-container {
    display: grid;
    grid-template-areas: 
    'nav'
    'header'
    'main'
    'footer' 
  }
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    text-decoration: none;

}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    background-color:white;
    border-bottom: black solid 7px;
    z-index: 2;
}

.burger {
    margin-right: 50px;
    cursor: pointer;
}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: -90vh;
    background-color: black;
    align-items: center;
    width: 40%;
    transition: all 1s;
    z-index: 1;
    border-left: black solid 7px;
}

.navLinks li {
    list-style: none;
}

.navLinks a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.3s;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.navActive {
    transform: translateY(100vh);
}


.header-sale {
    background-color: yellow;
    height: 40vh;
    width: auto;
    text-align: center;
    position: relative;
    border-bottom: black solid 7px;
    z-index: -2;

}

.sale-titel {
    font-size: 80px;
    padding-top: 2vh;
    color: black;
}

.sale-text {
    font-size: 45px;
    color: yellow;
    background-color: black;
    border: 1vh solid;
    
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    border: 30px solid white; 
    text-align: center;
    font-size: 25px;
    
}

.img-box {
    width: auto;
    height: 65vh;
}

.wrapper-footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: blueviolet;
    padding-top: 2vh;
    text-align: center;    
    border-top: black solid 4px;
}

.titel {
    font-size: 21px;
}

.info {
    font-size: 13px;
    padding-top: 1vh;
    padding-right: 3vw;
    padding-left: 3vw;
    padding-bottom: 2vh;
}

 @media only screen and (min-width: 768px) {

    .grid-container {
        display: grid;
        grid-template-areas:
        'nav'
        'main'
        'footer'
    }
    
    .navLinks {
        width: 40vh;
    }

    .header-sale {
        background-color: yellow;
        height: 30vh;
        width: auto;
        text-align: center;
        position: relative;
        border-bottom: black solid 7px;
        z-index: -2;
    
    }
    
    .sale-titel {
        font-size: 80px;
        padding-top: 2vh;
        color: black;
    }
    
    .sale-text {
        font-size: 50px;
        color: yellow;
        background-color: 40% solid black;
        
    }
    
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 30vw;
        padding: 3vw;
        text-align: center;
        font-size: 18px;
      }
    
    .box {
        width: 28vw;
        height: auto;
        margin: auto;
        
    }
    
    .img-box {
        width: 28vw;
        height: auto;
    }
    
    .wrapper-footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: blueviolet;
        text-align: center;
        padding-top: 2vh;
        border-top: black solid 5px;
    
    }
    
    .titel {
        font-size: 25px;
    }
    
    .info {
        font-size: 15px;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 1vh;
    }
    
    .box-footer {
        height: 13vh;
    }
}