.oslooperahus { grid-area: main1; }
.footer { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
    'nav'
    'main1'
    'main2'
    'main3'
    'footer'
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 13vh;
    background-color: rgb(230, 229, 235);
    font-family: sans-serif;
    border-bottom: black solid 6px;
    z-index: -2;
}

.burger {
    margin-right: 50px;
    cursor: pointer;
}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: -90vh;
    background-color: rgb(230, 229, 235);
    align-items: center;
    width: 20%;
    transition: all 1s;
    z-index: -1;
    border-left: black solid 6px;
}

.navLinks li {
    list-style: none;
}

.navLinks a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.3s;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.navActive {
    transform: translateY(100vh);
}

.rubrik {
    text-align: left;
    font-size: 30px;
    font-family: sans-serif;
}

.oslooperahus {
    background-image: url('/img/operaen-2.jpg');
    height: 800px; 
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    text-decoration: none;
    border: 3px solid white;
    
}

.textoperahus {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    font-family: Clarkson, Helvetica, sans-serif;  
    font-size: 30px;
    width: 350px;
    height: 45px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    color: white;
}

.textinfooperahus {
    position: absolute; 
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 10px;
    width: 320px;
    height: 25px;
    font-style: italic;
    color: white;
}


